*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
test.psd
*.psd
Paper/StableFluids.toc
Paper/StableFluids.out
Paper/StableFluids.blg
Paper/StableFluids.aux
Paper/StableFluids.pdf
test.jpg
Paper/StableFluids.log
Paper/StableFluids.log
*.pdf
Paper/StableFluids.synctex.gz
